.contextMenu {
    position: fixed;
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    z-index: 10000;
    text-decoration: none !important;
}
.option { 
    padding: 1px 50px 1px 10px;
    min-width: 160px;
    font-size: 20px;
    text-decoration: none !important;
}
a:hover {
    color: #001166;
    text-decoration: none;
}
a {
    color: #0055aa;
}