/*Image layouts*/
[class="1"] {
    border: 1px solid #00FFFF00;
    grid-row: span 2; /* 5 */
    object-fit: cover;
    opacity: 0.4;
    height: 450px;
}
[id="1"] {
    width: 100%;
    width: 269px;
}
    [id="1"]:hover {
        opacity: 1;
    }
[class="2"] {
    grid-row: span 2;
    object-fit: cover;
    opacity: 0.4;
    border: 1px solid #00FFFF00;
    height: 200px;
}
[id="2"] {
    width: 50%;
}
    [id="2"]:hover {
        opacity: 1;
    }
[class="3"] {
    grid-row: span 2;
    object-fit: cover;
    opacity: 0.4;
    border: 10px solid #00FFFF00;
    height: auto;
}
[id="3"] {
    width: 99%;
    width: 360px;
}
    [id="3"]:hover {
        opacity: 1;
    }
[class="4"] {
    grid-row: span 2;
    object-fit: cover;
    opacity: 0.4;
    border: 1px solid #00FFFF00;
    height: auto;
}
[id="4"] {
    width: 100%;
    width: 500px;
}
    [id="4"]:hover {
        opacity: 1;
    }
[class="0"] {
    grid-row: span 2;
    object-fit: cover;
    opacity: 0.4;
    margin-top: 10px;
    width: 100%;
    height: 500px !important;
}
[id="0"]:hover {
    opacity: 1;
    width: 100%;
    height: 100%;
}

@media (max-width: 2000px) {
    .container-fluid galleryContainer {
        position: absolute;
        display: grid;
        display: flex;
        flex-wrap: wrap;
        display: -ms-flexbox; /* IE10 */
        -ms-flex-wrap: wrap; /* IE10 */
        padding: 0 4px;
        grid-auto-flow: dense;
    }
    .horizontal {
        grid-column: span 2;
    }
    .vertical {
        grid-row: span 2;
    }
    #photos {
        position: absolute;
        z-index: 9000;
        cursor: pointer;
        text-align: center;
        width: 100%;
        height: 100%;
        margin-top: 4%;
        margin-left: .01%;
        margin-right: .01%;
        padding-left: .01%;
        padding-right: .01%;
        animation: fadein 6s;
        -moz-animation: fadein 6s; /* Firefox */
        -webkit-animation: fadein 6s; /* Safari and Chrome */
        -o-animation: fadein 6s; /* Opera */
    }
    
    #Myimage:hover {
        opacity: 1;

    }
}
@media (max-width: 1600px) {

}
@media (max-width: 1200px) {
    
}
@media (max-width: 1000px) {
    
}
@media (max-width: 800px) {
    
}
@media (max-width: 700px) {
  
}
@media (max-width: 600px) {
   
}
@media (max-width: 500px) {
  
}
@media (max-width: 475px) {
    
}
@media (max-width: 400px) {

}
@media (max-width: 360px) {
   
}
@media (max-width: 240px) {
 
}
@media print {
    #Myimage {
        width: 40% !important;
    }
    .modal-body img {
        width: 40% !important;
    }
    #photos {
        width: 40% !important;
    }
    .modal-body {
        width: 40% !important;
    }
}
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}