body {
    margin: 0;
}
.navi {
    top: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    background-color: transparent;
    font-family: Lato;
    text-align: center;
    font-size: 28px;
    color: black;
    z-index: 11000;
}