:root {
    --myFont: Syncopate !important;
    --myFontWeight: 100;
}
body {
    margin: 0;
}

.navi:before {
    background: transparent; /* Remove background color */
    display: inline-block;
    position: fixed;
    top: 1.5%;
    left: 1%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    z-index: 11000;
    color: white;
    font-size: 30px;
    content: "⁙";
}
.naviAfter:before {
    background: transparent; /* Remove background color */
    display: inline-block;
    position: fixed;
    top: 1.5%;
    left: 1%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    z-index: 11000;
    color: white;
    font-size: 35px;
    content: "⁛"
}
.Ulist {
    font-family: var(--myFont);
    list-style-type: none;
    top: .9%;
    width: 100%;
    background-color: transparent;
    position: fixed;
    overflow: auto;
    z-index: 11000;
}

.listItem {
    font-family: var(--myFont);
    float: left;
    padding: 8px 16px;
    z-index: 11000;
}
span {
    color: ghostwhite;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2%;
    display: inline-block;
    cursor: pointer;
}
.listItem :hover {
    opacity: 0.4;
}
.canvas {
    animation-direction: normal;
    animation-duration: 1s;
    animation-name: slideincanvas;
}
.home {
    animation-direction: normal;
    animation-duration: 1s;
    animation-name: slideinhome;
}
.gallery {
    animation-direction: normal;
    animation-duration: 1s;
    animation-name: slideingallery;
}
.contact {
    animation-direction: normal;
    animation-duration: 1s;
    animation-name: slideincontact;
}

@media (max-width: 800px) {
    .Ulist {
        list-style-type: none;
        top: .5%;
        margin-left: 5%;
        width: 100%;
        background-color: transparent;
        position: fixed;
        overflow: auto;
        z-index: 9000;
    }

    .listItem {
        float: left;
        padding: 8px 16px;
    }

    span {
        font-family: var(--myFont);
        font-size: 22px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 2%;
        display: inline-block;
        cursor: pointer;
    }

    .listItem :hover {
        color: aqua !important;
    }

    .home {
        animation-direction: normal;
        animation-duration: 1s;
        animation-name: slideinhome;
    }

    .gallery {
        animation-direction: normal;
        animation-duration: 1s;
        animation-name: slideingallery;
    }

    .contact {
        animation-direction: normal;
        animation-duration: 1s;
        animation-name: slideincontact;
    }
}
@media (max-width: 500px) {
    .Ulist {
        list-style-type: none;
        top: .5%;
        margin-left: 5%;
        width: 100%;
        background-color: transparent;
        position: fixed;
        overflow: auto;
        z-index: 9000;
    }

    .listItem {
        float: left;
        padding: 8px 16px;
    }

    span {
        font-family: var(--myFont);
        font-size: 22px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 2%;
        display: inline-block;
        cursor: pointer;
    }

    .listItem :hover {
        color: aqua !important;
    }

    .home {
        animation-direction: normal;
        animation-duration: 1s;
        animation-name: slideinhome;
    }

    .gallery {
        animation-direction: normal;
        animation-duration: 1s;
        animation-name: slideingallery;
    }

    .contact {
        animation-direction: normal;
        animation-duration: 1s;
        animation-name: slideincontact;
    }
}

@media (max-width: 400px) {
    .navi:before {
        background: transparent; /* Remove background color */
        display: inline-block;
        position: fixed;
        top: 1%;
        left: 1%;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        z-index: 11000;
        color: white;
        font-size: 25px;
        content: ' \205D';
    }
    .Ulist {
        list-style-type: none;
        top: .9%;
        margin-left: -5%;
        width: 100%;
        background-color: transparent;
        position: fixed;
        overflow: auto;
        z-index: 9000;
    }

    .listItem {
        float: left;
        padding: 8px 16px;
    }

    span {
        font-family: var(--myFont);
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 3%;
        display: inline-block;
        cursor: pointer;
    }

    .listItem :hover {
        color: aqua !important;
    }

    .home {
        animation-direction: normal;
        animation-duration: 1s;
        animation-name: slideinhome;
    }

    .gallery {
        animation-direction: normal;
        animation-duration: 1s;
        animation-name: slideingallery;
    }

    .contact {
        animation-direction: normal;
        animation-duration: 1s;
        animation-name: slideincontact;
    }
}
@media (max-width: 375px) {
    .Ulist {
        list-style-type: none;
        top: .5%;
        margin-left: 5%;
        width: 100%;
        background-color: transparent;
        position: fixed;
        overflow: auto;
        z-index: 9000;
    }

    .listItem {
        float: left;
        padding: 8px 16px;
    }

    span {
        font-family: var(--myFont);
        font-size: 22px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 2%;
        display: inline-block;
        cursor: pointer;
    }

    .listItem :hover {
        color: aqua !important;
    }

    .home {
        animation-direction: normal;
        animation-duration: 1s;
        animation-name: slideinhome;
    }

    .gallery {
        animation-direction: normal;
        animation-duration: 1s;
        animation-name: slideingallery;
    }

    .contact {
        animation-direction: normal;
        animation-duration: 1s;
        animation-name: slideincontact;
    }
}

@media (max-width: 360px) {
    .Ulist {
        list-style-type: none;
        top: 1.5%;
        width: 100%;
        background-color: transparent;
        position: fixed;
        overflow: auto;
        z-index: 9000;
    }

    .listItem {
        float: left;
        padding: 8px 16px;
    }

    span {
        font-family: var(--myFont);
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 2%;
        display: inline-block;
        cursor: pointer;
    }

    .listItem :hover {
        color: grey !important;
    }

    .home {
        animation-direction: normal;
        animation-duration: 1s;
        animation-name: slideinhome;
    }

    .gallery {
        animation-direction: normal;
        animation-duration: 1s;
        animation-name: slideingallery;
    }

    .contact {
        animation-direction: normal;
        animation-duration: 1s;
        animation-name: slideincontact;
    }
}
@media (max-width: 240px) {
    .Ulist {
        list-style-type: none;
        top: 2%;
        left: -17%;
        width: 100%;
        background-color: transparent;
        position: fixed;
        overflow: auto;
        z-index: 9000;
    }

    .listItem {
        float: left;
        padding: 8px 16px;
    }

    span {
        font-family: var(--myFont);
        font-size: 10px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 2%;
        display: inline-block;
        cursor: pointer;
    }

    .listItem :hover {
        color: aqua !important;
    }

    .home {
        animation-direction: normal;
        animation-duration: 1s;
        animation-name: slideinhome;
    }

    .gallery {
        animation-direction: normal;
        animation-duration: 1s;
        animation-name: slideingallery;
    }

    .contact {
        animation-direction: normal;
        animation-duration: 1s;
        animation-name: slideincontact;
    }
}

@keyframes slideinhome {
    from {
        margin-left: -500%;
    }

    to {
        margin-left: 0;
        width: 100%;
    }
}

@keyframes slideingallery {
    from {
        margin-left: -400%;
    }

    to {
        margin-left: 0;
        width: 100%;
    }
}
@keyframes slideincontact {
    from {
        margin-left: -400%;
    }

    to {
        margin-left: 0;
        width: 100%;
    }
}
@keyframes slideincanvas {
    from {
        margin-left: -400%;
    }

    to {
        margin-left: 0;
        width: 100%;
    }
}