.bgimg1{
    /* The image used */
    background-image: url("../Icons/Landing.png");
    /* Set a specific height */
    min-height: 1650px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.caption {
    position: absolute;
    left: 0;
    top: 15%;
    width: 100%;
    text-align: center;
    color: #c4c4c4; /*#dcdcdc;*/
    font-family: Lato;
    background-color: transparent;
}
.caption span.border {
    background-color: transparent;
    color: black;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
.caption a {
    font-family: Adamina;
    color: #e8e8e8 !important;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .bgimg1 {
        background-image: url("/images/LandingPage.JPG");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top;
        background-size: cover;
        height: 100%;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .caption {
        position: absolute;
        left: 0;
        top: 35%;
        width: 100%;
        text-align: center;
        color: #000;
        font-family: Lato;
    }
    .caption span.border {
            background-color: transparent;
            color: black;
            padding: 18px;
            font-size: 25px;
            letter-spacing: 10px;
        }
        .caption a {
            font-family: Adamina;
            color: #fff !important;
            text-decoration: none;
        }
}